# MazeDrone with TF Agents - 8000 Vizualize Logs from 6000

In [2]:
import pandas as pd

In [17]:
resumos = []

for i in range(5):
    read_file = pd.read_csv(f"logs/05-validating-reprod/resumo-6000-checkpoint_4-run_2-log_{i+1}.csv")
        
        
    resumos.append(pd.DataFrame(read_file))

In [18]:
df_resumo = pd.concat(resumos)

In [19]:
df_resumo

,run,check_1,check_2,check_3,avg_return,finished_percentage,crashes_counter,stuck_counter,avg_steps
0,1,1500,2200,13700,-2.149,0.873,43,142,9.377
1,2,2000,2700,16400,0.812,0.885,11,7,8.726
0,1,1400,2200,17500,1.506,0.909,9,49,7.726
1,2,2200,2700,19800,0.852,0.884,2,0,8.854
0,1,1100,1700,19500,-2.876,0.812,1,2,11.771
1,2,1600,2700,28400,0.490,0.878,5,8,9.011
0,1,1900,2700,11900,-2.471,0.827,34,0,11.262
1,2,1500,2100,20800,2.012,0.907,20,8,7.673
0,1,1900,3000,22400,-0.760,0.853,10,5,9.983
1,2,2100,2900,24300,1.744,0.895,0,0,8.101

,run,check_1,check_2,check_3,avg_return,finished_percentage,crashes_counter,stuck_counter,avg_steps
0,1,1600,2400,28400,1.21,0.894,0,16,8.464
1,2,1600,2100,36600,1.92,0.900,0,2,7.960